@media(max-width:1024px) {
    .header-h1 {
        font-size: 30px;
        padding-top: 150px;
    }

    header {
        height: 500px;
    }

    .navbar {
        padding: 5px;
    }

    .cuda-logo {
        width: 85px;
    }

    .nav-item {
        font-size: 12px;
    }

    .logo {
        height: 30px;
    }

    .section-h1 {
        font-size: 30px;
    }

    .section-all-p {
        font-size: 15px;
    }

    .service-img {
        width: auto;
        height: 100px;  
    }

    .section2 {
        height: 730px;
    }

    p {
        font-size: 13px;
    }

    .team-name {
        font-size: 19px;
    }

    .skill-percent {
        width: 160px;
        height: 160px;
    }

    .port-btn {
        padding: 5px 25px !important;
    }

    .portfolio-items {
        max-width: 40% !important;
    }

    .portfolio-h4 {
        font-size: 14px;
    }

    .load-more-btn {
        margin: 70px auto 90px auto !important;
        font-size: 14px;
    }

    .image-area-testi.col-md-3 {
        margin-left: 30px;
    }
    
    .text-area-testi.col-md-9 {
        padding-left: 20px;
    }

    .message-btn {
        padding: 5px 30px !important;
    }

    input {
        padding: 7px 0 7px 12px;
    }

    textarea {
        padding: 7px 0 7px 12px;
    }

    .footer-link a {
        font-size: 13px;
    }
}

@media(max-width:991px) {
    .header-h1 {
        font-size: 30px;
        padding-top: 150px;
    }

    header {
        height: 500px;
    }

    .col-md-3 {
        max-width: 23% !important;
    }
    .team-name {
        font-size: 20px;
    }

    .team-about {
        font-size: 11px;
    }

    p {
        font-size: 12px;
    }

    .section-all-p {
        font-size: 12px;
    }

    .section-h1 {
        font-size: 27px;
    }

    .skill-name {
        font-size: 16px !important;
    }

    .portfolio-items {
        max-width: 40% !important;
    }

    .load-more-btn {
        margin: 65px auto 80px auto !important;
    }

    .image-area-testi.col-md-3 {
        margin-left: -10px;
    }
    
    .text-area-testi.col-md-9 {
        padding-left: 20px;
    }

    input {
        width: 335px;
    }

    textarea {
        width: 685px;
    }

    .form {
        margin-bottom: 70px;
    }

    .section-contact-h1 {
        padding-top: 75px;
    }
}

@media(max-width:767px) {
    .header-h1 {
        font-size: 30px;
        padding-top: 150px;
    }

    header {
        height: 500px;
    }

    .section2 {
        height: auto;
    }

    .row {
        padding-bottom: 75px;
    }

    .col-md-3 {
        max-width: 45% !important;
    }

    .last-2-image {
        margin-top: 50px;
    }

    .section-all-p {
        width: 100%;
        font-size: 13px;
    }

    .service-img {
        height: 85px;
        width: auto;
    }

    .team-img {
        width: 60%;
    }

    .last-2-img {
        margin-top: 50px;
    }

    .team-row {
        margin-top: 60px;
        padding-bottom: 60px;
    }

    .last-2-percent {
        margin-top: 55px;
    }

    .portfolio-items {
        max-width: 70% !important;
        margin-top: 50px;
    }

    .port-btn {
        padding: 4px 20px !important;
    }

    .load-more-btn {
        margin: 60px auto 75px auto !important;
    }

    .image-area-testi.col-md-3 {
        display: table;
    }
    
    .text-area-testi.col-md-9 {
        padding-left: 15px;
    }

    .message-items {
        margin-top: 40px;
    }

    .testimonial-row {
        margin-top: 20px !important;
    }

    .name-input {
        margin-right: 0;
    }
    
    .email-input {
        margin-left: 0;
        margin-top: 20px;
    }

    textarea {
        width: 335px;
        height: 100px;
    }

    .footer-link a {
        font-size: 11px;
    }

    .first-2-percent-name {
        margin-bottom: 70px;
    }
}

@media(max-width:415px) {
    .header-h1 {
        font-size: 25px;
        padding-top: 150px;
    }

    header {
        height: 500px;
    }

    .col-md-3 {
        max-width: 90% !important;
        margin: auto;
    }

    .section-h1 {
        font-size: 23px;
    }

    .section-all-p {
        font-size: 11px;
    }

    .section2 {
        height: auto;
    }

    .service-img {
        margin-top: 50px;
        height: 75px;
    }

    .section-p {
        font-size: 12px;
    }

    .row {
        margin-top: 0;
    }

    h2 {
        font-size: 25px;
    }

    .team-img {
        width: 60%;
        margin-top: 45px;
    }

    .team-row {
        padding-bottom: 60px;
    }

    .team-row p {
        font-size: 12px;
    }

    .skill-percent {
        margin-top: 50px;
    }

    .skill-name {
        font-size: 15px !important;
    }

    .portfolio-h4 {
        font-size: 12px;
    }

    .port-btn {
        padding: 4px 15px !important;
        margin: 0;
    }

    .load-more-btn {
        margin: 50px auto 75px auto !important;
    }

    .message-items {
        display: block !important;
        text-align: center;
        margin-top: 45px;
    }

    .image-area-testi.col-md-3 {
        max-width: 100% !important;
        margin: 0;
        margin-bottom: 5px;
    }

    .testimonial-row {
        margin-top: 10px !important;
    }

    input {
        width: 95%;
    }

    textarea {
        width: 95%;
    }

    .hidden {
        display: none;
    }

    .skill-name {
        margin-bottom: 50px;
    }

    .skill-section {
        margin-top: 60px;
        padding-bottom: 35px;
    }
}

