* {
    scroll-behavior: smooth;
}

body {
    color: white;
}

.top-nav {
    background-color: #875598;
    position: sticky;
    top: 0;
    z-index: 9999999;
}

.navbar {
    background-color: #875598;
    padding: 3px 16px !important;
}

.nav-item {
    color: white !important;
    text-transform: uppercase;
    padding: 8px 15px !important;
    text-align: center;
}

.nav-item:hover {
    background-color: #643a79;
    border-radius: 5px;
}

header {
    background-image: url(../image/header-bg.jpg);
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(135, 80, 156, .9), rgba(135, 80, 156, .9)), url(../image/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

h1 {
    text-align: center;
}

.header-h1 {
    padding-top: 175px;
}

.btn {
    margin-top: 50px !important;
    padding: 7px 30px !important;
}

.section2 {
    background: linear-gradient(rgba(23, 194, 164, .9), rgba(23, 194, 164, .9)), url(../image/section_2_bg.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 2px 5px #273a71;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 760px;
}

.section-h1 {
    text-transform: uppercase;
    padding-top: 100px;
}

.section-service-h1::after {
    content: "";
    background-color: #14a58c;
    padding: 3px;
    display: block;
    width: 75px;
    margin: 20px auto;
}

.section-all-p {
    width: 580px;
    text-align: center;
    margin: auto;
    font-size: 17px;
}

.row {
    margin-top: 100px;
}

.col-md-3 {
    /* border: 1px solid black; */
    max-width: 21% !important;
    text-align: center;
}

.srvice-img {
    margin-top: 20px;
}

.service-p {
    font-size: 14px;
    margin-top: 20px;
}

h2 {
    margin-top: 15px;
}