* {
    scroll-behavior: smooth;
}

body {
    color: white;
}

.top-nav {
    background-color: #875598;
    border-bottom: 1px solid #f1f1f1a3;
    position: sticky;
    top: 0;
    z-index: 9999999;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-example2 {
    background-color: #875598;
    padding: 3px 16px !important;
}

.nav-link {
    color: white !important;
    text-transform: uppercase;
    padding: 8px 15px !important;
    text-align: center;
    transition: .4s;
}

.nav-link:hover {
    background-color: #643a79;
    border-radius: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #643a79;
}

header {
    background-image: url(../image/header-bg.jpg);
    width: 100%;
    height: 600px;
    background: linear-gradient(rgba(135, 80, 156, .9), rgba(135, 80, 156, .9)), url(../image/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

h1 {
    text-align: center;
}

.header-h1 {
    padding-top: 175px;
}

.btn {
    margin-top: 50px !important;
    padding: 7px 30px !important;
}

.section2 {
    background: linear-gradient(rgba(23, 194, 164, .9), rgba(23, 194, 164, .9)), url(../image/section_2_bg.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 2px 5px #273a71;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 760px;
}

.section-h1 {
    text-transform: uppercase;
    padding-top: 100px;
    font-size: 35px;
}

.section-service-h1::after {
    content: "";
    background-color: #14a58c;
    height: 5px;
    display: block;
    width: 75px;
    margin: auto;
    margin-top: 16px;
}

.section-all-p {
    width: 580px;
    text-align: center;
    margin: auto;
    font-size: 17px;
}

.row {
    margin-top: 100px;
}

.col-md-3 {
    /* border: 1px solid black; */
    max-width: 21% !important;
    text-align: center;
}

.srvice-img {
    margin-top: 20px;
}

.service-p {
    font-size: 14px;
    margin-top: 20px;
}

h2 {
    margin-top: 15px;
}

.section3 {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(231, 241, 248, .9), rgba(231, 241, 248, .9)), url(../image/section_3_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    box-shadow: inset 0 2px 5px #273a71;
    color: black;
    margin: 0;
}

.section-team-h1::after {
    content: "";
    background-color: #c8d9e5;
    height: 5px;
    display: block;
    width: 75px;
    margin: auto;
    margin-top: 16px;
}

.team-img {
    width: 100%;
    border-radius: 50%;
}

.team-name {
    font-size: 24px;
    padding-top: 15px;
}

.team-about {
    font-size: 13px;
    color: #2ec9d2;
    margin-bottom: 15px;
}

.team-row {
    margin-top: 70px;
    padding-bottom: 85px;
}

.team-row p {
    color: #3c4761;
}

.section4 {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .9)), url(../image/section_4_bg.jpg);
    background-size: cover;
    box-shadow: inset 0 3px 5px #273a71;
    color: #3c4761;
}

.section-skill-h1::after {
    content: "";
    background-color: #dfe8ed;
    height: 5px;
    display: block;
    width: 75px;
    margin: auto;
    margin-top: 16px;
}

.skill-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.skill-section {
    margin-top: 65px;
    padding-bottom: 100px;
}

.circle-wrap {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 74px);
  }
  
  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #30bae7;
  }

.first-percent {
    background-color: #30bae7 !important;
  }

.second-percent {
    background-color: #d74680 !important;
}

.third-percent {
    background-color: #15c7a8 !important;
}

.fourth-percent {
    background-color: #eb7d4b !important;
}
  
  .circle-wrap .circle .mask.full.first-full,
  .circle-wrap .circle .first-percent {
      animation: fill ease-in-out 2s;
    transform: rotate(162deg);
  }

  .circle-wrap .circle .mask.full.second-full,
  .circle-wrap .circle .second-percent {
      animation: fill ease-in-out 2s;
    transform: rotate(135deg);
  }

  .circle-wrap .circle .mask.full.third-full,
  .circle-wrap .circle .third-percent {
      animation: fill ease-in-out 2s;
    transform: rotate(126deg);
  }

  .circle-wrap .circle .mask.full.fourth-full,
  .circle-wrap .circle .fourth-percent {
      animation: fill ease-in-out 2s;
    transform: rotate(153deg);
  }
  
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(162deg);
    }
  }

  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135);
    }
  }

  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }

.section5 {
    color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(rgba(255, 221, 153, .9), rgba(255, 221, 153, .9)), url(../image/section_5_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    background-attachment: fixed;
    box-shadow: inset 0 2px 5px #273a71;
    color: black;
}

.section-portfolio-h1::after {
    content: "";
    background-color: #e5c37f;
    height: 5px;
    display: block;
    width: 75px;
    margin: auto;
    margin-top: 16px;
}

.port-btn {
    background-color: #ebc985;
    text-transform: uppercase;
    margin: 0 5px;
}

.port-btn:hover {
    box-shadow: inset 0 4px 3px rgba(57, 57, 57, .5);
}

.portfolio-items {
    max-width: 42% !important;
    margin-top: 70px;
}

.portfolio-img {
    width: 100%;
}

.portfolio-h4 {
    font-size: 17px;
    margin-top: 18px;
}

.portfolio-row {
    margin-top: 0;
    padding-bottom: 0 !important;
}

.load-more-btn {
    margin: 80px auto 90px auto !important;
}

.section6 {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(215, 70, 128, .9), rgba(215, 70, 128, .9)), url(../image/section_6_bg.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: inset 0 2px 5px #273a71;
    margin: 0;
    color: #fff;
}

.section-testimonial-h1::after {
    background: #b73c6d;
    content: "";
    height: 5px;
    display: block;
    width: 80px;
    margin: auto;
    margin-top: 16px;
}

.clients {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.testimonial-row {
    margin-top: 65px !important;
    padding-bottom: 75px !important;
}

.comment-p {
    font-style: italic;
    margin: 0;
}

.clients-name {
    font-size: 20px;
    font-weight: 700;
    margin: 7px 0 4px 0;
}

.clients-position {
    font-size: 11px;
    color: #fd9;
}

.last-2-comment {
    margin-top: 60px;
}

.image-area-testi.col-md-3 {
    margin-left: 20px;
}

.text-area-testi.col-md-9 {
    padding-left: 0;
}

.section7 {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(60, 84, 153, .9), rgba(60, 84, 153, .9)), url(../image/section_7_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    border-bottom: .1rem solid #b1b1b1;
    box-shadow: inset 0 3px 5px #273a71;
}

.section-contact-h1::after {
    background: #273a71;
    content: "";
    height: 5px;
    display: block;
    width: 80px;
    margin: auto;
    margin-top: 16px;
}

input {
    background-color: #273a71;
}

.input-form {
    margin-top: 50px;
    text-align: center;
}

input {
    width: 420px;
    border: none;
    outline: none;
    font-size: 12px;
    padding: 12px 0 11px 15px;
    color: white;
    border-radius: 4px;
}

input::placeholder {
    color: white;
    text-transform: capitalize;
}

.name-input {
    margin-right: 5px;
    text-transform: capitalize;
}

.email-input {
    margin-left: 5px;
    text-transform: lowercase;
}

textarea {
    width: 853px;
    border: 0;
    background-color: #273a71;
    outline: none;
    border-radius: 4px;
    font-size: 12px;
    padding: 12px 0 11px 15px;
    height: 150px;
    text-transform: capitalize;
    color: white;
}

.comment-form {
    text-align: center;
    margin-top: 25px;
}

textarea::placeholder {
    color: white;
}

.form {
    margin-bottom: 100px;
}

.message-button {
    text-align: center;
}

.message-btn {
    margin-top: 30px !important;
    padding: 9px 40px !important;
}

footer {
    background: #344b8e;
}

.footer-link a {
    text-decoration: none;
    color: white;
}

.footer-link a:hover {
    text-decoration: underline;
    color: #b3e9ff;
}

.footer-link {
    padding: 15px 0;
}

.active {
    background-color: #643a79;
    border-radius: 5px;
}












  